body {
  background-color: #303133;
}

.keys {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid #a4a6a8;
  border-width: 5px;
  border-radius: 7px;
  margin: 4px;
  padding: 8px;
  font-size: 50px;
  font-family: sans-serif;
  color: #a4a6a8;
  transition: all 0.07s;
}

span {
  font-size: 12px;
}

.playing {
  transform: scale(1.1);
  border-color: #f4da7a;
  box-shadow: 0 0 6px #f4da7a;
}
